<%- include('partial/header');%>
<div class="row" style="margin:0;width:100%;height:100%;background-repeat: no-repeat;background-size: cover;background-image: url(https://d94tn94v8mvlz.cloudfront.net/blog/wp-content/uploads/2019/05/Dialpad.jpg);">
  <div class="col-1 col-sm-2 col-md-6"></div>
  <div class="col-10  col-sm-8 col-md-5 align-self-center"  style="padding:20px 0;">
    <% if(typeof err !='undefined'){ %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin:5px 5px;">
        <p><%= err %></p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
      <br>
      <% } %>
      <% if(typeof success !='undefined'){ %>
        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin:5px 5px;">
          <p><%= success %></p>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
        <% } %>
      <form action="/signup" method="POST" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);background-color: white;padding:20px;border-radius: 10px;">
        <div class="form-group">
          <label for="inputEmail4">Email</label>
              <input style="text-transform: lowercase;" type="email" placeholder="Enter email" class="form-control" name="email" required>
        </div>

        <div class="form-group">
            <label for="inputAddress">Name</label>
            <input style="text-transform: capitalize;" type="text" class="form-control"  placeholder="Enter Name" name="name" required>
          </div>
          <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control"  placeholder="Enter password" name="password" required>
          </div>
          <div class="form-group">
            <label for="inputCPassword">Confirm Password</label>
            <input type="password" class="form-control"  placeholder="Enter password" name="cpassword" required>
          </div>
          <div class="form-group">
              <label for="inputAddress">Date of Birth</label>
              <input type="date" class="form-control"  placeholder="Enter Your DOB" name="DOB">
          </div>
          <div class="form-group">
            <label for="inputPhone">Phone Number</label>
            <input type="number" class="form-control"  placeholder="Enter phoneno" name="phoneno" min="9000000000" max="9999999999" required>
          </div>

            <div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            <div>
                <a href="/" style="font-size:0.7em;">Back To HomePage</a>
            </div>
            <div>
                <a href="/login" style="font-size:0.7em;">Already Registered?</a>
            </div>
          <!-- <br> -->
        </form>
  </div>
  <div class="col-1 col-sm-2 col-md-1"></div>
  </div>
      
<%-include('partial/footer');%>